.main{
	min-height: 80%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}


.register{
	background-color: ghostwhite;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 5%;
	border: solid 1px black;
	border-radius: 30px;
	box-sizing:border-box;
	margin-bottom: 10%;
	box-shadow: 0.5vw 1vh lightgray;
}

.register h1{
	font-size: 2vw;
}

.auth{
	background-color: ghostwhite;
	display: inline-block;
	width: 100%;
	padding: 5%;
	border: solid 1px black;
	border-radius: 30px;
	box-sizing:border-box;
	box-shadow: 0.5vw 1vh lightgray;
}

.auth h1{
	font-size: 2vw;
}


.forma {
	margin: 3% 25%;
	display: block;
}

	.forma form label {
		display: block;
		font-size: 1.7vw;
		margin-left: 10%;
		margin-right: 10%;
	}

	.forma form input {
		display: block;
		font-size: 1.2vw;
		border-radius: 13px;
		padding-left: 1%;
		margin-left: 10%;
		margin-right: 10%;
		padding: 0.5%;
		padding-left: 2%;
		width: 80%;
	}

	.forma form button {
		background-color: whitesmoke;
		width: fit-content;
		padding: 2%;
		height: fit-content;
		color: black;
		border-radius: 7px;
		font-size: 1vw;
		cursor: pointer;
	}


footer{
	background-color: black;
	color: whitesmoke;
	height: 10%;
	max-height: 10%;
}